.DS_Store
Client-UI/orders-ui//dist
Client-UI/orders-ui/node_modules
Client-UI/orders-ui/package-lock.json
target


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
